USE [master]
GO
/****** Object:  Database [product_sales]    Script Date: 08/01/2025 14:07:16 ******/
CREATE DATABASE [product_sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'product_salses', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\product_salses.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'product_salses_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\product_salses_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [product_sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [product_sales]
GO
/****** Object:  Table [dbo].[discount_data]    Script Date: 08/01/2025 14:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_data](
	[Month] [nvarchar](50) NOT NULL,
	[Discount_Band] [nvarchar](50) NOT NULL,
	[Discount] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_data]    Script Date: 08/01/2025 14:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_data](
	[Product_ID] [nvarchar](50) NOT NULL,
	[Product] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Cost_Price] [money] NOT NULL,
	[Sale_Price] [money] NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Image_url] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_sales]    Script Date: 08/01/2025 14:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_sales](
	[Date] [datetime2](7) NOT NULL,
	[Customer_Type] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Discount_Band] [nvarchar](50) NOT NULL,
	[Units_Sold] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[discount_data] ([Month], [Discount_Band], [Discount]) VALUES (N'January', N'none', 0)
INSERT [dbo].[discount_data] ([Month], [Discount_Band], [Discount]) VALUES (N'January', N'low', 6)
INSERT [dbo].[discount_data] ([Month], [Discount_Band], [Discount]) VALUES (N'January', N'medium', 10)
GO
INSERT [dbo].[product_data] ([Product_ID], [Product], [Category], [Cost_Price], [Sale_Price], [Brand], [Description], [Image_url]) VALUES (N'SR1001', N'MV7', N'Dynamic Microphone', 174.0000, 199.0000, N'Shure', N'A versatile USB/XLR dynamic microphone ideal for podcasting, streaming, and vocal recording. It features built-in DSP for sound customization and excellent voice isolation, inspired by the legendary SM7B microphone.', N'https://absentdata.com/wp-content/uploads/2024/11/m7_gif.gif')
INSERT [dbo].[product_data] ([Product_ID], [Product], [Category], [Cost_Price], [Sale_Price], [Brand], [Description], [Image_url]) VALUES (N'RR10020', N'NT1-A', N'Condenser Microphone', 160.0000, 229.0000, N'Rode', N'A popular condenser microphone known for its low self-noise and clear sound quality, perfect for vocal and instrument recordings. It comes with a shock mount and pop filter, making it a great choice for home studios.', N'https://absentdata.com/wp-content/uploads/2024/11/nt-1_image-removebg-preview.png')
INSERT [dbo].[product_data] ([Product_ID], [Product], [Category], [Cost_Price], [Sale_Price], [Brand], [Description], [Image_url]) VALUES (N'FR10021', N'Scarlett 2i2', N'Audio Interface', 118.0000, 169.0000, N'Focusrite', N'A compact USB audio interface with two inputs, allowing users to connect microphones and instruments for high-quality audio recording. Known for its ease of use and low-latency performance, it�s a staple in beginner and professional setups alike.', N'https://absentdata.com/wp-content/uploads/2024/11/focusrite-scarlett-2i2-2-removebg-preview.png')
GO
INSERT [dbo].[product_sales] ([Date], [Customer_Type], [Country], [Product], [Discount_Band], [Units_Sold]) VALUES (CAST(N'2023-12-01T00:00:00.0000000' AS DateTime2), N'Government', N'Germany', N'SR1001', N'None ', 15)
INSERT [dbo].[product_sales] ([Date], [Customer_Type], [Country], [Product], [Discount_Band], [Units_Sold]) VALUES (CAST(N'2023-12-01T00:00:00.0000000' AS DateTime2), N'Education', N'United States of America', N'RR10020', N'None ', 6)
INSERT [dbo].[product_sales] ([Date], [Customer_Type], [Country], [Product], [Discount_Band], [Units_Sold]) VALUES (CAST(N'2023-12-01T00:00:00.0000000' AS DateTime2), N'Government', N'Canada', N'FR10021', N'None ', 18)
GO
USE [master]
GO
